body{
    padding-left: 11em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: purple;
    background-color: #d8da3d;
}

h1{
    font-family: Helvetica, Geneva, Arial, SunSuns-Regular,sans-serif;
    font-size: 150%;
    font-color:#ff6633;
}
a:link{
    color: blue;
}
a:visited{
    color: purple;
}