<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>

</head>

<body>
    {% extends "base.html" %}
    {% block header %}
    <h1 class="navbar text-center jumbotron" style="margin-top: 0;">Welcome To IoT Restaurant !</h1>
    {% endblock %}
    {% block content %}
    <br>
    <div class="jumbotron">
        <h2>Restaurant Table Layout will be done here ! </h2>
    </div>
    {% endblock %}


</body>

</html>