<!DOCTYPE html>
<html>

<head>
    <title>Flask Template Example</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <script src={{url_for('static',filename='js/bootstrap.min.js')}}></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    {% block header %}
    <h1>Flask Template Example</h1>
    {% endblock %}

    {% block content %}

    {% endblock %}

</body>

</html>

